@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
  --background: #001c24;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blueligth: #d1f2ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #001c24; 
    --color-white: #001c24;
    --color-blueligth: #0698d1;
  }
}

.container{ 
  max-width: 1700px;
  margin: 0 auto;
}